*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 1rem;
    scroll-behavior: smooth;
  }

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black !important;
    background-color: white;
    outline: none;
    border-radius: 25px;
    border: none;
    font-weight: 500;
}

.btn:hover {
    background-image: linear-gradient(to right, lavender, white, lavender) !important;
    transition: 120s !important;
    box-shadow: none !important;
    text-decoration: none !important;

 }
 .btn:focus{
    box-shadow: none !important;
    text-decoration: none !important;
 }

 a.btn, a.btn:focus, a.btn:hover {
    text-decoration: none !important;
 }